.botaoCadastrarAnimal {
    background-color: #3152B7 !important;
    align-self: center; 
    width: 250px;
    height: 9vh;
    border-radius: 45px !important;
    margin-bottom: 70px !important;

    .botaoCadastrarAnimal:hover {
        background-color: #263f8d !important;
    }

    .botaoCadastrarAnimal a {
        text-decoration: none;
        color: white;
    }
}
