body {
    margin: 0;
    padding: 0;
    overflow: hidden;    
    width: 100%;
    height: 100%;

    .formCadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .containerCheckbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 275px;
        margin-bottom: 25px;
        padding: 5px;
        background-color: #D1DAF4;
        border: 1.5px solid #838383;
        border-radius: 15px;
        }

        .inputTexto {
            width: 550px;
        }
    
        .textoSensor {
            margin-left: 10px;
            color: #363636;
        }
    }  
}
